* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    position: relative;
    text-align: center;
    border-bottom: white 1px solid;
}

h1 {
    margin-top: 20px;
}
.header__container {
    border-radius: 10px;
    width: 400px;
    height: 200px;
    background-color: #342D2D;
    z-index: 1;
    color: white;
}
.header__container__sombra {
    border-radius: 10px;
    width: 400px;
    height: 200px;
    background-color: #595959;
    position: absolute;
    z-index: 0;
    margin: 10px 0 0 10px;
}
#header__container__input-pesquisa {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #586267;
    outline: none;
    padding: 0 0 0 6px;
    margin-top: 40px;
}
.header__container button {
    margin-top: 10px;
    border: 1px solid #595959;
    outline: none;
    background-color: #586267;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.header__container button:hover {
    margin-top: 10px;
    border: 1px solid #595959;
    outline: none;
    background-color: #5862677e;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

/* MINHA DIV*/
.Teste {
    background-color: #b8b7b7;
    width: 800px;
    height: auto;
    display: flex;
    border-radius: 10px;
    margin: 10px 20px;
}
.Teste h2 {
    padding: 6px 0 0 6px;
}
.Teste__linha {
    display: flex;
    align-items: center;
    padding-left: 10px; /* afasta a div Teste__linha da div Teste*/
}
.Teste__linha p{
    padding-left: 10px; /* afasta o paragrafo do h3*/
}

/* LADO ESQUERDO DETRO DA DIV TESTE */

.Teste__Lado-esquerdo{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 460px;
}


.Teste__Lado-direito {
    background-color: #b8b7b7;
    width: 60%;
    border-radius: 10px;
    padding: 10px 20px 10px 0;
    
}

.Teste__lado-direito__container-img { /*modifica o container pai das duas imagens*/
    display: flex;
    justify-content: space-around;
}

div.image-div{ /* modifica a posição da imagem e do texto*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}
.Teste__Lado-direito img { /*modifica apenas a imagem*/
    width: 160px;
    height: auto;
    border-radius: 10px;
}